{% extends 'sidebar.html' %} {% block content %}
<div class="container w-70">
    <div class="d-flex flex-column justify-content-start align-items-start mb-5">
        <h4 class="text-left px-4 fw-bold" style="margin-bottom: 10px">
            Currency Dashboard
        </h4>

        <div class="bg-white border shadow rounded px-3 py-2 my-2" style="width:90%">
            <div class="d-flex justify-content-start align-items-center mb-3 w-100">
                <select class="form-select  " id="from_cur" name="from_cur">
                {% for currency in currencies %} {% if from_cur and from_cur==currency.code%}
                <option
                    value="{{ currency.code }}"
                    data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}"
                    selected
                >
                    {{ currency.code }}
                </option>
                {% else %}
                <option
                    value="{{ currency.code }}"
                    data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}"
                >
                    {{ currency.code }}
                </option>
                {% endif %} {% endfor %}
                </select>
    
                <i class="fa-solid fa-arrow-right fa-xl mx-4"></i><br>
    
                <select class="form-select" id="to_cur" name="to_cur">
                {% for currency in currencies %} {% if to_cur and to_cur==currency.code%}
                <option
                    value="{{ currency.code }}"
                    data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}"
                    selected
                >
                    {{ currency.code }}
                </option>
                {% else %}
                <option
                    value="{{ currency.code }}"
                    data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}"
                >
                    {{ currency.code }}
                </option>
                {% endif %} {% endfor %}
                </select>
            </div>
            <div style="font-size:0.7rem; padding-left:10px">Last Updated On:</div>
            <div style="font-size:0.65rem;padding-left:10px" class="updated_date mb-2 fw-bold"></div>
            <div class="d-flex justify-content-start align-items-start mb-3 w-100">
                <div class=" d-flex flex-column justify-content-center align-items-center border rounded bg-white shadow text-center" style="width:150px;height:150px;margin-right:2%">
                    <div class="small">Exchange Rate</div>
                    <div class="small currency_pair"></div>
                    <div class="fw-bold" style="font-size:1.7rem;" id="latest_rate">0</div>
                </div>

                <div class=" d-flex flex-column justify-content-center align-items-center border rounded bg-white shadow text-center" style="width:150px;height:150px;margin-right:2%">
                    <div class="small">RSI Value</div>
                    <div class="small currency_pair"></div>
                    <div class="fw-bold" style="font-size:1.7rem;" id="latest_rsi">0</div>
                </div>

                <div class=" d-flex flex-column justify-content-center align-items-center border rounded bg-white shadow text-center" style="width:150px;height:150px;margin-right:2%">
                    <div class="small">ExRate Changes</div>
                    <div class="small currency_pair"></div>
                    <div class="fw-bold my-2 text-center" style="font-size:1.3rem;" id="exrate_changes"><i class="mx-2"></i><span>0</span></div>
                    <div style="font-size:0.7rem">From Last 7 Days</div>
                </div>
                
                <div class=" d-flex flex-column justify-content-center align-items-center border rounded bg-white shadow text-center" style="width:150px;height:150px;margin-right:2%">
                    <div class="small">RSI Value Changes</div>
                    <div class="small currency_pair"></div>
                    <div class="fw-bold my-2 text-center" style="font-size:1.3rem;" id="rsi_changes"> <i class="mx-2"></i><span>0</span></div>
                    <div style="font-size:0.7rem">From Last 7 Days</div>
                </div>
            </div>    

            <div class="d-flex justify-content-start align-items-start mb-3 w-100">
                <div class="shadow bg-white  border rounded" style="width: 47%; height: 250px;">
                    <div id="exchangeChart"></div>
                </div>

                <div class="shadow bg-white border rounded" style="width: 47%; margin-left:3%; height: 250px;">
                    <div id="rsiChart"></div>
                </div>
            </div>
        </div>    
        <div class="bg-white border shadow rounded px-3 py-4" style="width:90%">
            <div class="fw-bold">Popular Currencies Comparison</div>
            <div class="d-flex justify-content-start align-items-centert">
                <div class="col-6 border shadow rounded my-2" id="comparisonByPopularChart"></div>
                <div class='col-5 border rounded px-3 py-3 shadow my-2 mx-3' id="comparison_popular_table" style="margin-bottom: 15px;display:none; font-size:14px">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Currency</th>
                            <th>Historical Rate</th>
                            <th>Current Rate</th>
                            <th>Changes</th>
                        </tr>
                        </thead>
                        <tbody id="comparison_popular_table_body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function fillExRateChanges(changes){
    $("#exrate_changes").show()
    if (changes >= 0) {
        $("#exrate_changes span").text(changes.toFixed(3) + "%");
        $("#exrate_changes span").css("color", "green");
        $("#exrate_changes i").addClass("fa-solid fa-arrow-up");
        $("#exrate_changes i").css("color", "green");
    } else {

        $("#exrate_changes span").text(Math.abs(changes.toFixed(3)) + "%");
        $("#exrate_changes span").css("color", "red");
        $("#exrate_changes i").addClass("fa-solid fa-arrow-down");
        $("#exrate_changes i").css("color", "red");
    }
}

function fillRSIChanges(changes){
    $("#rsi_changes").show();
    if (changes >= 0) {
        $("#rsi_changes span").text(changes.toFixed(1) + "%");
        $("#rsi_changes span").css("color", "green");
        $("#rsi_changes i").addClass("fa-solid fa-arrow-up");
        $("#rsi_changes i").css("color", "green");
    } else {
        $("#rsi_changes span").text(Math.abs(changes.toFixed(1)) + "%");
        $("#rsi_changes span").css("color", "red");
        $("#rsi_changes i").addClass("fa-solid fa-arrow-down");
        $("#rsi_changes i").css("color", "red");
    }
}

function convertObjectToList(objects){
    var data = objects;
    var currency = Object.keys(data)[0];

    var result = Object.entries(data[currency]).map(([date, value]) => [date, value]);
    return result;
}

function modifyComparisonByPopularTable(response, baseCur){
    $('#comparison_popular_table').show();
    $('#comparison_popular_table_body').empty();
    $.each(response, function(index, item) {
        var newRow = $('<tr>');
        var currency = $('<td>').text(baseCur + " / " + item.currency);
        var exchangeRate = $('<td>').text(item.exchange_rate.toFixed(3)).addClass('fw-bold text-center');
        var historicalRate = $('<td>').text(item.historical_rate.toFixed(3)).addClass('fw-bold text-center');
        if (item.changes>0)
            var changes = $('<td>').text('+' + item.changes.toFixed(3) + '%').addClass('fw-bold text-center').attr('style','color:green');
        else if(item.changes<0)
            var changes = $('<td>').text(item.changes.toFixed(3) + '%').addClass('fw-bold text-center').attr('style','color:red');
        else
            var changes = $('<td>').text(item.changes.toFixed(3) + '%').addClass('fw-bold text-center');

        newRow.append(currency);
        newRow.append(historicalRate);
        newRow.append(exchangeRate);
        newRow.append(changes);

        $('#comparison_popular_table_body').append(newRow);
    });
}

$(document).ready(function () {
    //Define line chart customizations
    var lineChartOptions = {
        chart: {
            height: 250,
            width: "100%",
            type: "line",
            animations: {
                initialAnimation: {
                enabled: false
                }
            },
            toolbar: {
                show: false,
                tools: {
                    download: false,
                    selection: false,
                    zoom: false,
                    zoomin: false,
                    zoomout: false,
                    pan: false, 
                    reset:false
                },
            },
        },
        stroke: {
            curve: 'smooth',
        },
        title: {
            align: 'left',
            margin: 10,
            offsetX: 0,
            offsetY: 0,
            floating: false,
            style: {
                fontSize:  '12px',
                fontWeight:  'normal',
                color:  '#263238'
            },
        },
        dataLabels: { 
            enabled: false
        },
        noData: {
            text: 'Requesting Data...'
        },
        series: [],
        xaxis: {
            type: "datetime",
        },
        yaxis:{
            labels: {
                show: false,
            }
        },
        grid: {
            show: true,
            strokeDashArray: 1,
        }
    };

    var exchange_chart = new ApexCharts(document.querySelector("#exchangeChart"), lineChartOptions);
    exchange_chart.render();
    var rsi_chart = new ApexCharts(document.querySelector("#rsiChart"), lineChartOptions);
    rsi_chart.render();

    //Define bar chart customizations
    var barChartOptions = {
        chart: {
            height: 300,
            width: "100%",
            type: "bar",
            toolbar: {
                show: false,
            },
        },
        series: [],
        noData: {
            text: 'Requesting Data...'
        },                    
        plotOptions: {
            bar: {
                borderRadius: 10,
                distributed: true,
                dataLabels: {
                    position: 'top',
                },
            }
        },
        dataLabels: {
            enabled: true,
            formatter: function (val) {
                return val + "%";
            },
            style: {
                fontSize: '12px',
                colors: ["#304758"]
            }
        },
        yaxis: {
            labels: {
                show: false,
                formatter: function (val) {
                    return val + "%";
                }
            },
            axisBorder: {
                show: false
            },
            axisTicks: {
                show: false,
            },
        },
        xaxis:{
            axisBorder: {
                show: false
            },
            axisTicks: {
                show: false
            },
        },
        title: {
            align: 'left',
            margin: 10,
            offsetX: 0,
            offsetY: 0,
            floating: false,
            style: {
                fontSize:  '12px',
                fontWeight:  'normal',
                color:  '#263238'
            },
        },
        legend:{
            show: false,
        }
    }
    var compare_by_popular_chart = new ApexCharts(document.querySelector("#comparisonByPopularChart"), barChartOptions);
    compare_by_popular_chart.render();


    //Customize currency selection field
    function currencySelectionOption(option) {
        if (!option.id) {
        return option.text;
        }

        var imageUrl = $(option.element).data("image");
        if (!imageUrl) {
        return option.text;
        }

        return $(
        '<span><img src="' +
            imageUrl +
            '" class="img-flag" style="width:25px;height:15px;margin-right:5px"/> ' +
            option.text +
            "</span>"
        );
    };

    //Use Select2 package to define the select inputs
    $("#from_cur").select2({
        theme: "bootstrap-5",
        templateResult: currencySelectionOption,
        templateSelection: currencySelectionOption,
        width: "30%",
    });

    $("#to_cur").select2({
        theme: "bootstrap-5",
        templateResult: currencySelectionOption,
        templateSelection: currencySelectionOption,
        width: "30%",
    });


    var from_cur = $("#from_cur").val();
    var to_cur = $("#to_cur").val();
    var latestExRateFormData = {
        'from_cur': from_cur,
        'to_cur': to_cur,
    };
    var historicalFormData = {
        'from_cur': from_cur,
        'to_cur': to_cur,
        'duration': '7d'
    };

    //Send ajax request to get latest exrate when page loads
    $.ajax({
        url: "/currency/latest-exrate",
        type: "POST",
        dataType: 'json',
        data: latestExRateFormData,
        success: function (response){
            console.log(response);
            $("#latest_rate").text(response.exchange_rate);
            $(".updated_date").text(response.updated_date + "\n (" + response.updated_time + ") ");
            $(".currency_pair").text("("+ from_cur + " / " + to_cur +")")
        },
        error:function (xhr, status, error) {
            console.error(xhr.responseText);
        },
    });

    //Send ajax request to get historical exrate values when page loads
    $.ajax({
        url: "/currency/historical-exrate",
        type: "POST",
        dataType: 'json',
        data: historicalFormData,
        success: function (response) {
            console.log(response);
            fillExRateChanges(response.changes);
            const exchange_chart_data = convertObjectToList(response.results)    
            exchange_chart.updateSeries([{
                name: $("#from_cur").val() + " / " + $("#to_cur").val() + " Exchange Rate:",
                data: exchange_chart_data
            }])
            exchange_chart.updateOptions({
                title: {
                    text: $("#from_cur").val() + " / " + $("#to_cur").val() + " Historical Exchange Rates (7 Days)",
                }
            })
        },
        error: function (xhr, status, error) {
            console.error(xhr.responseText);
        },
    });

    //Send ajax request to get historical rsi values when page loads
    $.ajax({
        url: "/currency/historical-rsi",
        type: "POST",
        data: historicalFormData,
        success: function (response) {
            console.log(response);
            fillRSIChanges(response.changes)
            var rsi_values = response.rsi_values;
            var dates = response.dates;

            latest_rsi = rsi_values[rsi_values.length - 1]
            $("#latest_rsi").text(latest_rsi.toFixed(1)) 

            var rsi_chart_data = rsi_values.map(function(value, index) {
                return [dates[index], value.toFixed(1)];
            });

            rsi_chart.updateSeries([{
                name: $("#from_cur").val() + " / " + $("#to_cur").val() + " RSI Value: ",
                data: rsi_chart_data
            }])
            rsi_chart.updateOptions({
                title: {
                    text: $("#from_cur").val() + " / " + $("#to_cur").val() + " Historical RSI Values (7 Days)",
                },
                annotations: {
                    yaxis: [
                        {
                            y: 70,
                            strokeDashArray: 1,
                            borderColor: 'black',
                            label: {
                                borderColor: 'black',
                                style: {
                                    color: '#fff',
                                    background: 'black'
                                },
                                text: 'Overbought'
                            }
                        },
                        {
                            y: 30,
                            strokeDashArray: 1,
                            borderColor: 'black',
                            label: {
                                borderColor: 'black',
                                style: {
                                    color: '#fff',
                                    background: 'black'
                                },
                                text: 'Oversold'
                            }
                        },
                        ]
                    }
            })
        },
        error: function (xhr, status, error) {
            console.error(xhr.responseText);
        },
    });

    //Send ajax request to get currency comparison when page loads
    var popularCurs = {{ popular_curs | tojson }};
    var fromCur = "{{ from_cur }}";
    $.ajax({
        url: "/currency/comparison",
        type: "POST",
        contentType: 'application/json',
        data: JSON.stringify({
            base_cur: fromCur,
            compare_curs: popularCurs,
            duration : '7d'
        }),
        success: function (response) {
            console.log(response);
            modifyComparisonByPopularTable(response, fromCur)
            var currencies = response.map(item => item.currency);
            var changes = response.map(item => item.changes.toFixed(3));

            compare_by_popular_chart.updateSeries([{
                name: "ExRate Changes based on " + fromCur,
                data: changes
            }]);
            compare_by_popular_chart.updateOptions({
                title:{
                    text: 'Exchange Rate Changes based on ' + fromCur + ' (7 Days)',
                },
                xaxis: {    
                    categories: currencies
                }
            });
        },
        error: function (xhr, status, error) {
            console.error(xhr.responseText);
        },
    });
});
    
</script>
{% endblock %}
