{% extends 'base.html' %} {% block body %}
<div class="d-flex">
  <aside id="sidebar" class="expand">
    <div class="d-flex">
      <button class="toggle-btn" type="button">
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="sidebar-logo">
        <a href="/"> ZyCurrency </a>
      </div>
    </div>
    <ul class="sidebar-nav">
      <li class="sidebar-item">
        <a href="/" class="sidebar-link">
          <i class="fas fa-house"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="/currency/convert" class="sidebar-link">
          <i class="fas fa-arrow-right-arrow-left"></i>
          <span>Converter</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="/currency/historical-exrate" class="sidebar-link">
          <i class="fas fa-chart-line"></i>
          <span>Exchange Rate Changes</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="/currency/historical-rsi" class="sidebar-link">
          <i class="fas fa-chart-line"></i>
          <span>RSI Value Changes</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="/currency/comparison" class="sidebar-link">
          <i class="fas fa-chart-column"></i>
          <span>Currency Comparison</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="/currency/correlation-analysis" class="sidebar-link">
          <i class="fas fa-magnifying-glass-chart"></i>
          <span class="text-wrap wrap">Currency Correlation Analysis</span>
        </a>
      </li>
    </ul>

    <div class="sidebar-footer">
      <a href="/alert/view" class="sidebar-link text-light">
        <i class="fa-solid fa-gear"></i>
        <span class="text-wrap wrap">Alert Setting</span>
      </a>

      <a href="/auth/logout" class="sidebar-link text-light">
        <i class="fas fa-right-from-bracket"></i>
        <span>Logout</span>
      </a>
    </div>
  </aside>

  <div class="main bg-white"  >
    <div class="col" >
      <div>
        <div class="d-flex align-items-center justify-content-end p-3">
          <a id='notification_section'>
            <i class="fa-regular fa-bell fa-xl clickable-icon" style="color:#787878" id="notification_icon" data-toggle="modal" data-target="#notification-modal"></i>
            <span class="badge rounded-pill notification-badge bg-danger" id="notification_badge"></span>
          </a>

          <div id ='user-profile' data-toggle="modal" data-target="#profile-modal" >
            {% if current_user.picture_url %}
                {% if current_user.picture_url.startswith('user_pics') %}
                <img src="{{ url_for('static', filename=current_user.picture_url) }} " alt="{{ current_user.first_name }} {{ current_user.last_name }}" class="border rounded-circle" style="width: 30px; height: 30px; margin-right:10px">
                {% else %}
                <img src="{{ current_user.picture_url }}" alt="{{ current_user.first_name }} {{ current_user.last_name }}" class="border rounded-circle" style="width: 30px; height:30px;margin-right:10px">
                {% endif %}
            {% else %}
            <i class="fa-solid fa-user align-self-center border rounded-circle mx-10" style="margin-right:10px; padding: 7px; color: #fffafa; background-color: #787878"></i>
            {% endif %}

            {{current_user.first_name}} 
            {% if current_user.last_name %}
            {{current_user.last_name}} 
            {% endif %}
          </div>
        </div>
        {% include 'includes/notification_modal.html'%}
        {% include 'includes/profile_modal.html'%}
      </div>

      <div>{% block content %} {% endblock %}</div>
    </div>
  </div>
</div>

<script>
  const hamBurger = document.querySelector(".toggle-btn");

  hamBurger.addEventListener("click", function () {
    document.querySelector("#sidebar").classList.toggle("expand");
  });

  function getTimeDifference(notificationTimestamp) {
    var currentTime = new Date();
    var notificationTime = new Date(notificationTimestamp);
    var difference = currentTime.getTime() - notificationTime.getTime();

    var days = Math.floor(difference / (1000 * 60 * 60 * 24)); // Convert milliseconds to days
    var hours = Math.floor((difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)); // Convert remaining milliseconds to hours
    var minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60)); // Convert remaining milliseconds to minutes
    var seconds = Math.floor((difference % (1000 * 60)) / 1000); // Convert remaining milliseconds to seconds

    var timeDifference = '';
    if (days > 0) {
        timeDifference += days + " days ";
    }
    if (hours > 0) {
        timeDifference += hours + " hours ";
    }
    if (minutes > 0 && days==0) {
        timeDifference += minutes + " mins ";
    }
    if ((seconds > 0 || (days === 0 && hours === 0 && minutes === 0)) &&(days===0 && hours===0) ) {
        timeDifference += seconds + " secs";
    }

    return timeDifference.trim(); // Return formatted time difference
};

  function showNotifications(unreadCount, notifications){
    $('#notifications_section').empty();
    if (unreadCount>0){
      $('#notification_icon').removeClass('fa-regular')
      $('#notification_icon').addClass('fa-solid')
      $("#notification_icon").css("color", "#4562FB");
      $('#notification_badge').text(unreadCount);
    }
    if (notifications.length > 0){
      $('#empty_notifications').hide()
      $.each(notifications, function(index, notification) {
        var backgroundColor = notification.has_read ? '' : 'background-color:#e6f6fa';
        var notificationHTML = `
            <div class="d-flex justify-content-start align-items-center py-2 px-3 border-bottom" style='${backgroundColor}'>
                <img src="{{ url_for('static', filename='images/favicon.ico')}}" alt="Sender: Zycurrency" class="border rounded" style="width: 50px; height:50px;margin-right:20px"/>
                <div class="d-flex flex-column justify-content-center align-items-start w-100">
                    <div class="fw-bold">${notification.title}</div>  
                    <div style='font-size:0.85rem'>${notification.text}</div>
                    <div style='font-size:0.75rem'> <small>${getTimeDifference(notification.created_time)} ago</small></div>
                </div>
            </div>
        `;
        $("#notifications_section").append(notificationHTML);
      });
    }
    $('#notifications_section').show();
  }


  $(document).ready(function () {
    var notifications;
    $.ajax({
      url: '/notification/get-all', 
      type: 'GET',
      success: function(response) {
        console.log(response);
        notifications = response.notifications;
        var unreadCount = response.unread_count;
        showNotifications(unreadCount, notifications);
      },
      error: function(xhr, status, error) {
        console.error(xhr.responseText);
      }
    });

  $('#notification-modal').on('show.bs.modal', function (e) {
    $('#notification_icon').removeClass('fa-regular').addClass('fa-solid');
    $('#notification_icon').css('color', 'black');
    $('#notification_badge').text('');
    var notificationIds = [];
    if (notifications.length > 0) {
        $.each(notifications, function(index, notification) {
            notificationIds.push(notification.id);
        });
    }
    $.ajax({
      url: '/notification/read-all', 
      type: 'PUT',
      contentType: 'application/json',
      data: JSON.stringify({ ids: notificationIds }),
      success: function(response) {
        console.log(response);
      },
      error: function(xhr, status, error) {
        console.error(xhr.responseText);
      }
    });
  });

  $('#notification-modal').on('hide.bs.modal', function (e) {
    $('#notification_icon').removeClass('fa-solid').addClass('fa-regular');
    $('#notification_icon').css('color', '#787878');
    $.ajax({
      url: '/notification/get-all', 
      type: 'GET',
      success: function(response) {
        console.log(response);
        notifications = response.notifications;
        var unreadCount = response.unread_count;
        showNotifications(unreadCount, notifications);
      },
      error: function(xhr, status, error) {
        console.error(xhr.responseText);
      }
    });
  });


  })
</script>

{% endblock %}
