{% extends 'sidebar.html' %} {% block content %}
<div class="container-fluid">
  <div class="d-flex justify-content-center align-items-center">
    <div class="border w-50 rounded bg-white">
      <div class="m-3 text-center">
        {% if current_user.password %}
        <h3>Change Password</h3><br>
        {% else %}
        <h3>Add Password</h3><br>
        {% endif %}
        {% if current_user.picture_url %}
            {% if current_user.picture_url.startswith('user_pics') %}
            <img src="{{ url_for('static', filename=current_user.picture_url) }} " alt="{{ current_user.first_name }} {{ current_user.last_name }}" class="border rounded-circle" style="width: 90px; height: 90px">
            {% else %}
            <img src="{{ current_user.picture_url }}" alt="{{ current_user.first_name }} {{ current_user.last_name }}" class="border rounded-circle" style="width: 90px; height: 90px">
            {% endif %}
        {% else %}
        <i class="fa-solid fa-user fa-2xl align-self-center border rounded-circle mx-10" style="padding-top: 40px; width: 90px; height: 90px; color: #fffafa; background-color: #787878"></i>
        {% endif %}

        <br>
        <span class='fw-bold'>{{current_user.first_name}} {%if current_user.last_name %} {{current_user.last_name}} {% endif %} </span>
        <br>
        {{current_user.email}}
        <br><br>
    </div>
      <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {% if current_user.password %}
        <div class="form-group mb-3 col-10 mx-auto">
          <label for="old_password" class="form-label"> Old Password  <span class="required-field"></label>
          <input
            type="password"
            class="form-control"
            id="old_password"
            name="old_password"
            placeholder="Old password"
          />
          {% if form.errors.get('old_password') %}
          <div class="text-danger small">
            {{ form.errors.get('old_password')[0] }}
          </div>
          {% endif %}
        </div>
        {% endif %}
        <div class="form-group mb-3 col-10 mx-auto">
          <label for="new_password" class="form-label"> New Password  <span class="required-field"></label>
          <input
            type="password"
            class="form-control"
            id="new_password"
            name="new_password"
            placeholder="New password"
          />
          {% if form.errors.get('new_password') %}
          <div class="text-danger small">
            {{ form.errors.get('new_password')[0] }}
          </div>
          {% endif %}
        </div>

        <div class="form-group mb-3 col-10 mx-auto">
          <label for="confirm_password" class="form-label"> Confirm Password  <span class="required-field"></label>
          <input
            type="password"
            class="form-control"
            id="confirm_password"
            name="confirm_password"
            placeholder="Confirm password"
          />
          {% if form.errors.get('confirm_password') %}
          <div class="text-danger small">
            {{ form.errors.get('confirm_password')[0] }}
          </div>
          {% endif %}
        </div>

        
        <div class="mb-3 col-10 mx-auto">
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %} {% endif %} {% endwith %}
        </div>

        <div class="d-flex justify-content-center mb-3">
            <div>
              <button type="submit" class="btn btn-primary rounded-pill">
                Change
              </button>
            </div>
            <div class="ms-4">
              <a href="/" class="btn btn-secondary rounded-pill">
                Back
              </a>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}