{% extends "base.html" %} 
{% block title%} Reset Password on ZyCurrency {% endblock %}
{% block body%}
<div class="container-fluid blue-linear">
  <div class="d-flex min-vh-100 justify-content-center align-items-center">
    <div class="border w-50 rounded bg-white">
      <div class="text-center m-3">
        <h3 class="text-primary fw-bold">ZyCurrency</h3>
      </div>

      <form method="POST">
        {{ form.csrf_token }}

        <div class="form-floating mb-3 col-10 mx-auto">
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Email"
              {%
                if
                form.email.data
                %}
                value="{{ form.email.data }}"
                {%
                endif
                %}
              disabled      
            />
            <label for="email">Email</label>
            {% if form.errors.get('email') %}
            <div class="text-danger small">
              {{ form.errors.get('email')[0] }}
            </div>
            {% endif %}
          </div>

        <div class="form-floating mb-3 col-10 mx-auto">
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Password"
            {%
              if
              form.password.data
              %}
              value="{{ form.password.data }}"
              {%
              endif
              %}
          />
          <label for="password">Password</label>
          {% if form.errors.get('password') %}
          <div class="text-danger small">
            {{ form.errors.get('password')[0] }}
          </div>
          {% endif %}
        </div>

        <div class="form-floating mb-3 col-10 mx-auto">
            <input
              type="password"
              class="form-control"
              id="confirm_password"
              name="confirm_password"
              placeholder="Confirm Password"
              {%
                if
                form.confirm_password.data
                %}
                value="{{ form.confirm_password.data }}"
                {%
                endif
                %}
            />
            <label for="confirm_password">Confirm Password</label>
            {% if form.errors.get('confirm_password') %}
            <div class="text-danger small">
              {{ form.errors.get('confirm_password')[0] }}
            </div>
            {% endif %}
          </div>
  
        <div class="mb-3 col-10 mx-auto">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %} 
              {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>

        <div class="row mb-3 mx-auto col-10">
            <div class="col-6">
              <a href="/auth/login">Back to login page</a>
            </div>
        </div>
        <div class="d-grid col-3 mx-auto mb-3">
          <button 
            type="submit"
            class="btn btn-primary rounded-pill"
          >
            Reset Password
          </button>
        </div>

      </form>
    </div>
  </div>
</div>

{% endblock %}
