{% extends 'sidebar.html' %} {% block content %}
<div class="container-fluid">
  <h3 class="text-center" style="margin-bottom: 25px">Currency Converter</h3>
  <div class="d-flex justify-content-center align-items-center">
    <div class="w-75-m w-50-l">
      <form method="POST" action="/currency/convert" id="convert_form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <div class="form-group col-12 mx-auto" style="margin-bottom: 25px">
          <label for="amount" class="form-label">Amount </label>
          <input
            type="text"
            class="form-control"
            id="amount"
            name="amount"
            required
          />
        </div>

        <div class="form-group col-12 mx-auto" style="margin-bottom: 25px">
          <label for="from_cur" class="form-label">From Currency </label>
          <select class="form-select" id="from_cur" name="from_cur">
            {% for currency in fav_currencies %} {% if from_cur and from_cur==currency.code%}
            <option
                value="{{ currency.code }}"
                data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}"
                data-fav="{{url_for('static', filename='images/star-solid.svg')}}"
                selected
            >
                {{ currency.code + ' - ' + currency.name}} <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
            </option>
            {% else %}
            <option
                value="{{ currency.code }}"
                data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}"
                data-fav="{{url_for('static', filename='images/star-solid.svg')}}"
            >
                {{ currency.code + ' - ' + currency.name }} <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
            </option>
            {% endif %}{% endfor %}
            {% for currency in currencies %}
            {% if from_cur and from_cur==currency.code%}
                <option value="{{ currency.code }}" data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}" selected>
                  {{ currency.code }} - {{ currency.name }}
                </option>
            {% else %}
              <option value="{{ currency.code }}" data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}">
                {{ currency.code }} - {{ currency.name }}
              </option>
            {% endif %}
            {% endfor %}
          </select>
        </div>

        <div class="text-center" style="margin-bottom: 25px">
          <i class="fa-solid fa-arrow-right-arrow-left fa-rotate-90 fa-2xl cursor-pointer" id="exchange_icon" ></i>
        </div>

        <div class="form-group col-12 mx-auto" style="margin-bottom: 45px">
          <label for="to_cur" class="form-label">To Currency </label>
          <select class="form-select" id="to_cur" name="to_cur">
            {% for currency in fav_currencies %} {% if to_cur and to_cur==currency.code%}
            <option
                value="{{ currency.code }}"
                data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}"
                data-fav="{{url_for('static', filename='images/star-solid.svg')}}"
                selected
            >
                {{ currency.code + ' - ' + currency.name}} <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
            </option>
            {% else %}
            <option
                value="{{ currency.code }}"
                data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}"
                data-fav="{{url_for('static', filename='images/star-solid.svg')}}"
            >
                {{ currency.code + ' - ' + currency.name }} <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
            </option>
            {% endif %}{% endfor %}
            {% for currency in currencies %}
            {% if to_cur and to_cur==currency.code%}
                <option value="{{ currency.code }}" data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}" selected>
                  {{ currency.code }} - {{ currency.name }}
                </option>
            {% else %}
              <option value="{{ currency.code }}" data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}">
                {{ currency.code }} - {{ currency.name }}
              </option>
            {% endif %}
            {% endfor %}
          </select>
        </div>

        <div id="convert_result_section" style="display:none;">
          <div class="text-center" id="exchange_rate">
              Exchange Rate = <span style="font-weight:bold" id="exchange_rate_display">  </span>
          </div>
          <div class="text-center" style="font-weight:bold; font-size:20px" id="result">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#from_cur').select2({
      theme: 'bootstrap-5',
      templateResult: currencySelectionOption,
      templateSelection: currencySelectionOption,
      width: '100%',
    });

    $('#to_cur').select2({
      theme: 'bootstrap-5',
      templateResult: currencySelectionOption,
      templateSelection: currencySelectionOption,
      width: '100%',
    });

    $('#exchange_icon').click(function() {
      var from_cur = $('#from_cur').val();
      var to_cur = $('#to_cur').val();
  
      $('#from_cur').val(to_cur).trigger('change');
      $('#to_cur').val(from_cur).trigger('change');
    });

    $('#to_cur, #from_cur, #amount').change(function() {
      var fromCurValue = $('#from_cur').val();
      var toCurValue = $('#to_cur').val();
      var amountValue = $('#amount').val();
      if (fromCurValue != "" && toCurValue!="" && amountValue != "" && fromCurValue!=toCurValue)
        $('#convert_form').submit();
    });

    $("#convert_form").submit(function (event) {
      event.preventDefault();

      var formData = $(this).serialize();

      $.ajax({
        url: "/currency/convert",
        type: "POST",
        data: formData,
        success: function (response) {
          console.log(response);
          var exchange_rate = response.exchange_rate;
          var convert_result = response.convert_result;
          $("#convert_result_section").show();
          var from_cur = $("#from_cur").val();
          var to_cur = $("#to_cur").val();
          var amount = $("#amount").val();

          $("#exchange_rate_display").text(exchange_rate);
          $("#result").text(amount + ' ' +  from_cur + ' = ' + convert_result + ' ' + to_cur);

        },
        error: function (xhr, status, error) {
          console.error(xhr.responseText);
        },
      });
    });
  });
</script>
{% endblock %}
