{% extends 'sidebar.html' %} {% block content %}
<div class="container-fluid">
  <h3 class="text-center" style="margin-bottom: 25px">Historical Exchange Rate Changes</h3>
  <div class="d-flex justify-content-center align-items-center">
    <div style="width:70%">
      <form method="POST">
        {{ form.csrf_token }}
        <div class="row justify-content-between align-items-center" style="margin-bottom: 30px">
          <div class="form-group col-4 mx-auto" style="margin-bottom: 25px">
            <label for="from_cur" class="form-label">From Currency </label>
            <select class="form-select" id="from_cur" name="from_cur">
              {% for currency in currencies %}
              {% if from_cur and from_cur==currency.code%}
                  <option value="{{ currency.code }}" data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}" selected>
                    {{ currency.code }} - {{ currency.name }}
                  </option>
              {% else %}
                <option value="{{ currency.code }}" data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}">
                  {{ currency.code }} - {{ currency.name }}
                </option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
          
          <div class="form-group col-2 text-center">
              <i class="fa-solid fa-arrow-right-arrow-left fa-lg cursor-pointer" id='exchange_icon'></i>
          </div>
      
          <div class="form-group col-4 mx-auto" style="margin-bottom: 30px">
            <label for="to_cur" class="form-label">To Currency </label>
            <select class="form-select" id="to_cur" name="to_cur">
              {% for currency in currencies %}
              {% if to_cur and to_cur==currency.code%}
                  <option value="{{ currency.code }}" data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}" selected>
                    {{ currency.code }} - {{ currency.name }}
                  </option>
              {% else %}
                <option value="{{ currency.code }}" data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}">
                  {{ currency.code }} - {{ currency.name }}
                </option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="form-group col-3" style="margin-bottom: 25px">
          <label for="duration" class="form-label">Duration </label>
          {{ form.duration(class="form-select") }}
        </div>

        <div class="d-grid col-3 mx-auto" style="margin-bottom: 50px">
          <button type="submit" class="btn btn-primary square">View</button>
        </div>
      </form>


      
      {% if historical_data %}
      <div class="row justify-content-between align-items-center" style="margin-bottom: 20px" >
        <div class="col-6">
          <span class='fw-bold'> Changes ({{from_cur}}/{{to_cur}}): 
            {% if changes > 0%} <span style="color:green">+{{changes}}%</span>
            {% else %}  <span style="color:red">{{changes}}%</span>
            {% endif %}
          </span>
        </div>
        <button class="btn btn-primary square col-2 btn-sm"> <i class="fa-solid fa-bell" style="color: #ffffff;margin-right:15px"></i> Set Alert </button>
      </div>
      <canvas id="exchangeChart" width="400" height="200"></canvas>
      {% endif%}
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    function formatOption(option) {
      if (!option.id) {
          return option.text;
      }

      var imageUrl = $(option.element).data('image');
      if (!imageUrl) {
        return option.text;
    }

      return $('<span><img src="' + imageUrl + '" class="img-flag" style="width:25px;height:15px;margin-right:5px"/> ' + option.text + '</span>');
    }
    
    

    $('#from_cur').select2({
      theme: 'bootstrap-5',
      templateResult: formatOption,
      templateSelection: formatOption,
      width: '100%',
    });

    $('#to_cur').select2({
      theme: 'bootstrap-5',
      templateResult: formatOption,
      templateSelection: formatOption,
      width: '100%',
    });

    $('#exchange_icon').click(function() {
      var from_cur = $('#from_cur').val();
      var to_cur = $('#to_cur').val();
  
      $('#from_cur').val(to_cur).trigger('change');
      $('#to_cur').val(from_cur).trigger('change');
    });
  });

  var data = {{ historical_data | tojson }};

  var currencies = Object.keys(data);
  var datasets = [];
  var dates = [];

  currencies.forEach(function(currency) {
    dates=dates.concat(Object.keys(data[currency]));
    var exchangeRates = Object.values(data[currency]);
    var dataset = {
        label: currency + ' Exchange Rate',
        data: exchangeRates,
        borderColor: 'red', 
        backgroundColor: 'red',
        borderWidth: 1
    };

    datasets.push(dataset);
});

  var ctx = document.getElementById('exchangeChart').getContext('2d');
  var exchangeChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: dates, 
          datasets: datasets
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: false
                  }
              }]
          }
      }
  });

</script>
{% endblock %}
