{% extends 'sidebar.html' %} {% block content %}
<div class="container-fluid">
  <h3 class="text-center" style="margin-bottom: 25px">
    Historical Relative Strength Index (RSI) Changes 
    <div style="  display: inline-block; border: 2px solid #000; border-radius: 100%; padding:0px 10px;margin-left:10px">
      <i class="fa-solid fa-question fa-2xs"></i>
    </div>
  </h3>
  <div class="d-flex justify-content-center align-items-center">
    <div style="width: 70%">
      <form
        method="POST"
        action="/currency/historical-rsi"
        id="get_historical_form"
      >
        <input type="hidden" name="csrf_token" value="{{ csrf_rsi_token }}">
        <div
          class="row justify-content-between align-items-center"
          style="margin-bottom: 20px"
        >
          <div class="form-group col-4 mx-auto">
            <label for="from_cur" class="form-label">From Currency </label>
            <select class="form-select" id="from_cur" name="from_cur">
              {% for currency in fav_currencies %} {% if from_cur and from_cur==currency.code%}
              <option
                  value="{{ currency.code }}"
                  data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}"
                  data-fav="{{url_for('static', filename='images/star-solid.svg')}}"
                  selected
              >
                  {{ currency.code + ' - ' + currency.name}} <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
              </option>
              {% else %}
              <option
                  value="{{ currency.code }}"
                  data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}"
                  data-fav="{{url_for('static', filename='images/star-solid.svg')}}"
              >
                  {{ currency.code + ' - ' + currency.name }} <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
              </option>
              {% endif %}{% endfor %}
              {% for currency in currencies %} {% if from_cur and
              from_cur==currency.code%}
              <option
                value="{{ currency.code }}"
                data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}"
                selected
              >
                {{ currency.code }} - {{ currency.name }}
              </option>
              {% else %}
              <option
                value="{{ currency.code }}"
                data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}"
              >
                {{ currency.code }} - {{ currency.name }}
              </option>
              {% endif %} {% endfor %}
            </select>
          </div>

          <div class="form-group col-2 text-center">
            <i
              class="fa-solid fa-arrow-right-arrow-left fa-lg cursor-pointer"
              id="exchange_icon"
            ></i>
          </div>

          <div class="form-group col-4 mx-auto">
            <label for="to_cur" class="form-label">To Currency </label>
            <select class="form-select" id="to_cur" name="to_cur">
              {% for currency in fav_currencies %} {% if to_cur and to_cur==currency.code%}
              <option
                  value="{{ currency.code }}"
                  data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}"
                  data-fav="{{url_for('static', filename='images/star-solid.svg')}}"
                  selected
              >
                  {{ currency.code + ' - ' + currency.name}} <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
              </option>
              {% else %}
              <option
                  value="{{ currency.code }}"
                  data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}"
                  data-fav="{{url_for('static', filename='images/star-solid.svg')}}"
              >
                  {{ currency.code + ' - ' + currency.name }} <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
              </option>
              {% endif %}{% endfor %}
              {% for currency in currencies %} {% if to_cur and
              to_cur==currency.code%}
              <option
                value="{{ currency.code }}"
                data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}"
                selected
              >
                {{ currency.code }} - {{ currency.name }}
              </option>
              {% else %}
              <option
                value="{{ currency.code }}"
                data-image="{{ url_for('static', filename='flags/' + currency.alpha_2_code.lower() + '.png') }}"
              >
                {{ currency.code }} - {{ currency.name }}
              </option>
              {% endif %} {% endfor %}
            </select>
          </div>
        </div>
        <div class="row justify-content-between align-items-center">
          <div class="form-group col-3" style="margin-bottom: 25px">
            <label for="duration" class="form-label">Duration </label>
            <select id="duration" name="duration" class="form-select">
              <option value="7d" selected>One Week</option>
              <option value="14d">Two Weeks</option>
              <option value="1m">One Month</option>
              <option value="3m">Three Months</option>
              <option value="6m">Six Months</option>
              <option value="1y">One Year</option>
              <option value="2y">Two Years</option>
              <option value="1h" disabled>Last Hour (Not Supported)</option>
              <option value="1d" disabled>One Day (Not Supported)</option>
            </select>
          </div>
          <a
            class="btn btn-primary square col-2 btn-sm"
            data-toggle="modal"
            data-target="#alert-modal"
          >
            <i
              class="fa-solid fa-bell"
              style="color: #ffffff; margin-right: 15px"
            ></i>
            Set Alert
          </a>
        </div>

      </form>

      {% include 'includes/rsi_alert.html'%}

      <div
        class="row justify-content-between align-items-center"
        style="margin-bottom: 20px"
      >
        <div class="col-6">
          <span class="fw-bold" id="changes_label" style="display: none">
            Changes (<span id="currencies"></span>):
            <span id="changes_value"></span>
          </span>
        </div>
      </div>
      <div id="rsiChart"></div>
    </div>
  </div>
</div>


<script>
  function fillRSIChanges(changes){
    $("#changes_label").show();
    var from_cur = $("#from_cur").val();
    var to_cur = $("#to_cur").val();
    $("#currencies").text(from_cur + "/" + to_cur);
    if (changes > 0) {
      $("#changes_value").text("+" + changes + "%");
      $("#changes_value").css("color", "green");
    } else {
      $("#changes_value").text(changes + "%");
      $("#changes_value").css("color", "red");
    }
  }

  $(document).ready(function () {
    //Define chart customizations
    var options = {
      chart: {
        height: 380,
        width: "100%",
        type: "line",
        animations: {
          initialAnimation: {
            enabled: false
          }
        },
        toolbar: {
          show: true,
          offsetX: 0,
          offsetY: 0,
          tools: {
            download: true,
            selection: false,
            zoom: false,
            zoomin: true,
            zoomout: true,
            pan: false, 
            reset:false
          },
          export: {
            csv: {
              filename: undefined,
              columnDelimiter: ',',
              headerCategory: 'category',
              headerValue: 'value',
              dateFormatter(timestamp) {
                return new Date(timestamp).toDateString()
              }
            },
            svg: {
              filename: undefined,
            },
            png: {
              filename: undefined,
            }
          },
          autoSelected: 'zoom' 
        },
      },
      stroke: {
        curve: 'smooth',
      },
      title: {
        text: $("#from_cur").val() + " / " + $("#to_cur").val() + " Historical RSI Values",
        align: 'center',
        margin: 10,
        offsetX: 0,
        offsetY: 0,
        floating: false,
        style: {
          fontSize:  '18px',
          fontWeight:  'bold',
          color:  '#263238'
        },
      },
      dataLabels: { 
        enabled: false
      },
      noData: {
        text: 'Requesting Data...'
      },
      series: [],
      xaxis: {
        type: "datetime"
      },
      annotations: {
        yaxis: [
          {
            y: 70,
            strokeDashArray: 1,
            borderColor: 'black',
            label: {
              borderColor: 'black',
              style: {
                color: '#fff',
                background: 'black'
              },
              text: 'Overbought'
            }
          },
          {
            y: 30,
            strokeDashArray: 1,
            borderColor: 'black',
            label: {
              borderColor: 'black',
              style: {
                color: '#fff',
                background: 'black'
              },
              text: 'Oversold'
            }
          },
        ]
      }
    };
    var chart = new ApexCharts(document.querySelector("#rsiChart"), options);
    chart.render();

    //Send first ajax request when page initially load
    var formData = $("#get_historical_form").serialize();
    $.ajax({
      url: "/currency/historical-rsi",
      type: "POST",
      data: formData,
      success: function (response) {
        console.log(response);
        fillRSIChanges(response.changes);

        var rsi_values = response.rsi_values;
        latest_rsi = rsi_values[rsi_values.length-1];
        $("#current_rsi").text(latest_rsi.toFixed(1));
        $("#current_rsi_section").show();

        var dates = response.dates;

        var chart_data = rsi_values.map(function(value, index) {
            return [dates[index], value.toFixed(1)];
        });

        chart.updateSeries([{
          name: $("#from_cur").val() + " / " + $("#to_cur").val() + " RSI Value: ",
          data: chart_data
        }])
        chart.updateOptions({
          title: {
            text: $("#from_cur").val() + " / " + $("#to_cur").val() + " Historical RSI Values",
          }
        })
      },
      error: function (xhr, status, error) {
        console.error(xhr.responseText);
      },
    });

    //Use Select2 package to define the select inputs
    $("#from_cur").select2({
      theme: "bootstrap-5",
      templateResult: currencySelectionOption,
      templateSelection: currencySelectionOption,
      width: "100%",
    });
    $("#to_cur").select2({
      theme: "bootstrap-5",
      templateResult: currencySelectionOption,
      templateSelection: currencySelectionOption,
      width: "100%",
    });
    $('#duration').select2({
      theme: "bootstrap-5",
      minimumResultsForSearch: Infinity,
      width: "100%"
    })

    //Swap button
    $("#exchange_icon").click(function () {
      var from_cur = $("#from_cur").val();
      var to_cur = $("#to_cur").val();

      $("#from_cur").val(to_cur).trigger("change");
      $("#to_cur").val(from_cur).trigger("change");
    });


    //Submit the form when data changes
    $('#to_cur, #from_cur, #duration').change(function() {
      var fromCurValue = $('#from_cur').val();
      var toCurValue = $('#to_cur').val();
      var durationValue = $('#duration').val();
      if (fromCurValue != "" && toCurValue!="" && durationValue != "" && fromCurValue!=toCurValue)
        $('#get_historical_form').submit();
    });

    //Send ajax request when form submitted to update chart
    $("#get_historical_form").submit(function (event) {
      event.preventDefault();

      var formData = $(this).serialize();

      $.ajax({
        url: "/currency/historical-rsi",
        type: "POST",
        data: formData,
        success: function (response) {
          console.log(response);
          fillRSIChanges(response.changes)

          var rsi_values = response.rsi_values;
          var dates = response.dates;

          var chart_data = rsi_values.map(function(value, index) {
              return [dates[index], value.toFixed(1)];
          });

          chart.updateSeries([{
            name: $("#from_cur").val() + " / " + $("#to_cur").val() + " RSI Value: ",
            data: chart_data
          }])
          chart.updateOptions({
            title: {
              text: $("#from_cur").val() + " / " + $("#to_cur").val() + " Historical RSI Values",
            }
          })
        },
        error: function (xhr, status, error) {
          console.error(xhr.responseText);
        },
      });
    });
    
  });
</script>
{% endblock %}
