{% extends 'sidebar.html' %} {% block content %}
<div class="container-fluid">
  <h3 class="text-center" style="margin-bottom: 25px">Notification Settings</h3>
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
    {% for notification in notifications %}
    <div class="col">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span style="font-size:0.9rem">Exchange Rate</span>
          <span style="font-size:0.8rem; text-transform: capitalize; color:#4562FB; font-weight:bold">{{notification.alert_type}}</span>
        </div>
        <div class="card-body">
          <h6 class="card-title d-flex align-items-center justify-content-between">
            Notification #{{notification.id}}
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="is_enabled" {% if notification.is_enabled %} checked {% endif %}>
            </div>
            <i class="fa-solid fa-wrench"></i>
            <i class="fa-solid fa-trash" style="color: #fa0000;"></i>
          </h6>
          {% if notification.alert_type == 'periodically'%}
          <p class="card-text">Period: <span style='text-transform:capitalize; font-weight:bold'>{{notification.period}}</span></p>
          {% else %}
          <p class="card-text">Threshold: 
            <span class='fw-bold'> 
              {% if notification.condition == 'more'%}
                More Than
              {% else %}
                Less Than
              {% endif %}
              {{notification.rate}}
            </span>
          </p>
          {% endif %}

          <div class="d-flex justify-content-start align-items-center mb-3">
            <img src="{{ url_for('static', filename='flags/' + notification.from_cur.alpha_2_code.lower() + '.png') }}" class="img-flag" style="width:25px;height:15px;margin-right:5px"/>
            {{notification.from_cur.code}}
            <i class="fa-solid fa-arrow-right mx-3"></i>
            <img src="{{ url_for('static', filename='flags/' + notification.to_cur.alpha_2_code.lower() + '.png') }}" class="img-flag" style="width:25px;height:15px;margin-right:5px"/>
            {{notification.to_cur.code}}
          </div>

          <div class='d-flex flex-column align-items-start justify-content-center'>
            <label for="notes" class="form-label">Notes:</label>
            <div class="d-flex align-items-center w-100">
              <div class="col-10"> 
                <textarea class="form-control form-control-sm" id="notes" name="notes" rows="5" placeholder="Type something here..." disabled>{{notification.notes}}</textarea>
              </div>
              <div class="col-1">
                <i class="fa-solid fa-pencil mx-2" ></i>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    {% endfor %}      
  </div>
</div>

<script>
  $(document).ready(function() {


  });


</script>
{% endblock %}
